numpy==1.23.5
pandas==1.5.2
scipy==1.8.0

# Machine learning libraries
scikit-learn==1.1.3

# Deep learning frameworks (choose one)
# Tensorflow

# PyTorch
torch==1.13.1
# Additional libraries (depending on project)
matplotlib==3.5.3  # For visualization
seaborn==0.12.1  # For advanced visualization
joblib==1.1.0  # For efficient job execution
